body {
  // region background color
  --bg-1: var(--gray-3);
  --bg-2: var(--gray-4);
  // endregion

  // region border color
  --border-line: var(--gray-1);
  --border-1: var(--gray-2);
  --border-2: var(--blue-1);
  // --border-disabled: rgb(60 63 65);
  // endregion

  // region text color
  // only used on special place
  --text-color-1: var(--white-1);

  // default color
  --text-color-2: var(--white-2);

  // Additional information in lists (paths, counters), placeholder
  --text-color-3: var(--white-3);

  // Inline help, shortcuts
  --text-color-4: var(--white-4);

  --text-selection: rgb(131 131 145 / 30%);

  // 光标颜色
  --caret-color: rgb(187 187 187 / 80%);
  // endregion

  // region hover color
  --hover-1: var(--gray-1-50);
  --hover-2: var(--gray-1-80);
  // endregion

  // region active color
  --active-1: var(--gray-1-30);
  --active-2: var(--blue-1-80);
  // endregion

  // region select color
  --select-2: var(--blue-1);

  // use in list and drop-down options
  --select-3: var(--blue-2);
  // endregion

  // region button color
  --button-bg-1: var(--bg-1);
  --button-bg-2: var(--blue-1);
  // --button-bg-disabled: rgb(60 63 65);
  // endregion

  // region window header
  --window-focus-in: var(--bg-1);
  --window-focus-out: rgb(60 63 65);
  // endregion

  // region scrollbar
  --scrollbar-thumb: var(--white-1-15);
  --scrollbar-thumb-hover: var(--white-1-25);
  // endregion
}
