body {
  --white-1: rgb(255 255 255);
  --white-1-15: rgb(255 255 255 / 15%);
  --white-1-25: rgb(255 255 255 / 25%);
  --white-2: rgb(223 225 229);
  --white-3: rgb(141 150 160);
  --white-4: rgb(140 140 140);
  --white-5: rgb(120 120 120);

  --gray-1: rgb(81 81 81);
  --gray-1-30: rgb(81 81 81 / 30%);
  --gray-1-50: rgb(81 81 81 / 50%);
  --gray-2: rgb(69 72 77);
  --gray-3: rgb(43 45 48);
  --gray-4: rgb(30 31 34);

  --blue-1: rgb(53 116 240);
  --blue-1-80: rgb(53 116 240 / 80%);
  --blue-2: rgb(46 67 110);
}
